body{
    margin: auto;
    width: 50%;
    text-align: center;
}
h1{
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
nav{
    display:flex;
}
nav button{
    background: #a04444;
    color: #ffffff;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 10px;
    transition: all ease-in-out 0.1s;
}
nav button:hover{
    background: #d4acac;
    color: #000000;
    transform: scale(1.1);
    margin: 10px;
}


